<!DOCTYPE html>
<html>
<head>
    <title>¡Gracias por tu compra!</title>
</head>
<body>
<h1>¡Gracias por tu compra!</h1>
<p>¡Hola {{nombre}}! Te informamos que tu compra ha sido exitosa. A continuación, te presentamos los detalles de tu compra:</p>
<ul>
    <li>Nombre de la película: {{nombrePelicula}}</li>
    <li>Fecha de la función: {{fechaFuncion}}</li>
    <li>Cantidad de entradas: {{cantidadEntradas}}</li>
    <li>Precio total: {{precioTotal}}</li>
    <li>Código QR: <img src="{{qr}}"></li>
</ul>
<p>¡No olvides llevar tu código QR impreso o en tu dispositivo móvil para poder ingresar a la función! ¡Te esperamos!</p>
</body>
</html>